{% extends "base.html" %}

{% block body %}
    {{ super() }}

    <div class="container">
        <h1 class="mt-5">Welcome, {{ user_data["fullname"] }}</h1>
        <br>

        <p>Queue for the following:</p>
        <div class="list-group">
            {% for lesson_arr in user_data["currentCourse"]["skills"] %}
                {% for lesson in lesson_arr %}
                    {% if lesson["finishedLevels"] > 0 %}
                        <a href="/queue/{{ user_data["currentCourse"]["learningLanguage"] }}/{{ lesson["urlName"] }}"
                           class="list-group-item list-group-item-action">
                            {{ lesson["name"] }}
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
